<div id="container">
  <div id="facial_2">
    <img src="images/spa4.jpg" alt="home" style="width:335px; padding-left:10px; padding-top:20px; float:left;"/>
    <img src="images/spa5.jpg" alt="bed" style="width:335px; padding-left:30px; padding-top:20px;"/>
  </div><!-- Closes the Container -->
  <br /> <br />
</div>
