<div id="container">
  <div id="content">
    <h1>Contact Skin Esstentials</h1><br />
    <p class="intro"><strong>Certified Esthetician and Eyelash Extentionist:</strong> Dorothy Greenfield</p><br />
    <p class="intro"><strong>Email:</strong> Dory58@yahoo.com</p><br />
    <p class="intro"><strong>Phone number:</strong> 860-871-(SKIN) 7546</p><br />
    <p class="intro"><strong>Location:</strong> 435Q Hartford turnpike, Vernon, CT. 06066</p><br />
    <img src="images/spa2.jpg" alt="home" style="width:335px; padding-left:10px; padding-top:10px;padding-bottom:10px; float:left;"/>
    <img src="images/spa3.jpg" alt="bed" style="width:335px; padding-left:30px; padding-top:10px;padding-bottom:10px;"/>
      </div><!-- Closes the Content -->
  <div id="hours"><span id="title">Hours</span>
    <ul>
      <li id="time">Tuesday:<br/> 10:00 a.m. - 9:00 p.m.</li>
      <li id="time">Wednesday:<br/> 10:00 a.m. - 9:00 p.m.</li>
      <li id="time">Thursday:<br/> 10:00 a.m. - 9:00 p.m.</li>
      <li id="time">Friday:<br/> 10:00 a.m. - 5:30 p.m.</li>
      <li id="time">Saturday:<br/> 10:00 a.m. - 4:00 p.m.</li>
    </ul>
  </div><!-- Closes the Hours -->
</div><!-- Closes the Container -->




