<div id="container">
  <div id="facial_2">
    <%= image_tag "dory.jpg" %><h1>Dorothy Greenfield</h1>
    <p class="para"><strong>Certified Esthetician</strong><br />

    I am a certified Skin Care and Lash Extensionist, also the owner of Skin Essentials Day Spa.  For the past 3 years I have continued my education in the ever changing skin care field. My ultimate goal is to obtain my  Master Esthetician designation. I perform facials to help my clients with hyperpigmentation, sun damage, minimize pore size, hydrate dry skin, removal of mila and give that very healthy glow.  I work with teens educating them about sun care,  breakout skin and diet.

I specialize in Chemical Peels and Microdermabrasion using the latest facial machines. Although my facials are certainly relaxing my priority is to improve your skin concerns.
<br />
<br />
    <%= image_tag "kim.jpg" %><h1>Kimberly Costello</h1>
    <p class="para"><strong>Certified Nail Technician/Nail Artist</strong><br />

I Do Nails! I have been practicing my craft since 1994 and have been at Skin Essentials Day Spa since it’s opening in May of 2011. I am fully insured and certified. At Skin Essentials Day Spa, I pamper my clients with a personal manicure or pedicure including a Kimberly Costello
soak, massage, shaping and painting. Though I do not offer artificial nail extensions at this time (known as acrylic or gel nails), I do offer Shellac polish for natural nails. In addition, my specialty is nail art. I do all my own free-hand painting as well as Crackle, glitter and rhinestones. Who can’t use a little sparkle? Come see me for your special occasion nails. Need a birthday party idea? A Princess Party in our “Bling” room is the answer</p>
<br />
    <%= image_tag "stacie.jpg" %><h1>Stacie Houle</h1>
    <p class="para"><strong>Certified Massage Therapist</strong><br />
Nationally certified licensed massage therapist and memeber of the AMTA. Offering Swedish massage with techniques and ability to accommodate a wide range of desired pressure. $50 for first time one hour clients $65 thereafter. 1/2 hour back and neck session $35.
<br />
<br />
<%= image_tag "new_chelsea.png", class: "chelsea" %><h1>Chelsea Black</h1>
    <p class="para"><strong>Certified Lash Extensionist</strong><br />
A graduate with a bachelor degree from Central Connecticut College.  In training to become a certified esthetician from the state of Connecticut.  Specializing in Bridal airbrush makeup.
  </div>
<br />
</div><!-- Closes the Container -->




