<div id="container">
<div id="facial_2">
  <h3 class="title">Dermalogica Retail Products</h3>
  <p class="para">Skin essentials carries a full line of dermalogica products:</p>
  <ul>
    <strong><li id="list">UltraCalming</li>
    <li id="list">Age Smart</li>
    <li id="list">The grey line</li>
    <li id="list">Medibac Clearing</li>
    <li id="list">Clean Start for Teens</li>
    <li id="list">Solar Protection</li>
    <li id="list">Full body products</li>
    <li id="list">Complete Shave line for men</li></strong>
  </ul>
  <br />
  <h3 class="title">Dermalogica Clean Start for teens</h3>

<p class="para">Clean Start was created by the skin health experts at Dermalogica, the brand that’s been changing the face of skin care for more than 25 years. It became clear that no one was addressing the needs of teens – not only with products that get results, but also with the education they need – when Dermalogica Founder Jane Wurwand’s own daughters entered their teenage years.</p><br />
<p class="para">Skin care product choices available to teens may be ample, but they aren’t good choices. Products for teens often contain harsh and inexpensive ingredients to strip the skin of oil, and are filled with artificial fragrances and colors – all things that can irritate and strip oil from skin, causing more problems than you started with!</p><br />
<p class="para">And so we began to develop Clean Start, but not without knowing that we needed real skin care situations from the teens we were trying to help! Instead of creating a focus group (too formal, and quite simply, not fun), we invited a council of young adults to work with us on the naming of the products, the labeling, packaging copy, and what worked – and what didn’t. The result is Clean Start, a system of eight dual-action, fun, fresh, skin-healthy products that feel and smell great without being full of stuff that’s bad for skin – such as artificial fragrances, colors, mineral oil, and S.D. alcohol. Another thing you might like: we don’t test on animals.</p><br />
  
     </div>
     <br />
     <br />
</div>
