<div id="container">
  <div id="facial_2">
    <h3 class="title">Facial treatments</h3>
    <ul>
      <li id="serv"><strong>European facial...........   $49.99.</strong></br>
      <p class="para">Add $5.00 for hand or foot treatment with warm cream and heated gloves or booties</p>
      <p class="para">This 12 step classic purifying and deep cleansing treatment follows a thorough skin analysis.  Exfoliation gently removes impurities and dull surface cells.  A relaxing facial massage and masque application stimulates circulation.  Moisturizers leave the complexion looking vibrant and restores hydration</p>
      </li>
      <li id="serv"><strong>Microdermabrasion...........   $100.00</strong><br />
      <p class="para">This treatment lightens dark spots on the face, minimizes pore size, provides intense exfoliation and helps stimulate cell renewal and cell turnover rates to help smooth skin while improving texture and tone.</p>
      </li>
      <li id="serv"><strong>Back facial...........   $49.99</strong><br />
      <p class="para">Try  this deep cleansing and exfoliating treatment for the neglected skin on your back.  A delightful way to treat breakouts, control excess oiliness and refine and smooth the skin.  A light massage is included.</p>
      </li>
      <li id="serv"><strong>Full body polishing...........   $65.00</strong><br />
      <p class="para">This is a fantastic way to cleanse, exfoliate, and hydrate the entire body using hot towels, hot stones and heated creams.  Your skin will glow and will be so soft to the touch.</p>
      </li>

      <li id="serv"><strong>Men's sports facial...........   $49.99</strong><br />
      <p class="para">This one hour facial is a 10 step proceedure designed to cleanse, exfoliate, extract ( if needed ) and hydrate a thicker skin.</p>
      </li>
      <li id="serv"><strong>Teenage breakout control facial...........   $35.00</strong><br />
      <p class="para">A one hour facial that's focus is on a skin that suffers with plugged pores and breakouts. The esetician will spend time talking about diet, exercise and hormone changes and home care while performng the facial.</p>

      </li>
      <li id="serv"><strong>Chemical peels...........   $100.00</strong><br />
      <p class="para">We all know that we spend too much time in the sun. If you have dark spots, uneven skin tones and large pores, this chemical peel facial will brighten, lighten and help even out the tone of the skin while minimizing pore size. Your skin will not be pink when you leave as this is done with only chemicals without the scrapping of a facial machine.your skin will feel fresh and hydrated.</p></li>
      <li id="serv"><strong>Cry probe therapyl...........   Pricing by appt.</strong><br />
      <p class="para">The CryoProbe uses sophisticated micro-applicator technology for easy and effective treatment of all benign skin lesions such as but not limited to:</p>
      <ul>
        <strong><li id="serv">Warts</li>
        <li id="serv">Skin Tags</li>
        <li id="serv">Seborrheic Keratosis</li>
        <li id="serv">Fibromas</li>
        <li id="serv">Hyperpigmentation</li>
        <li id="serv">Cyst</li>
        <li id="serv">And more...</li></strong>
      </ul>
      <p class="para">CryoProbe is pinpoint accurate to 1 millimeter which allows easy treatment of small facial lesions. No destruction of healthy adjacent tissue and no pain as a result, minimizing discomfort to the surrounding tissues. The procedure requires no anesthesia. This allows us to treat you effectively the first time, reducing the need for a second procedure. This breakthrough in cryotherapy is safe for most skin types, and it so fast, we can easily treat various areas with one visit.</p>
    </div>
    <br />
    <br />
  </div>
