%div#container
  %div#content
    %h1 Welcome to Skin Essentials Day Spa.
    %p.intro
      We are a full service salon specializing in skin care and eyelash extensions.
    <br />
    %p.intro
      Our Location is: 435Q Hartford turnpike, Vernon, CT 06066.
    <br />
    %p.intro
      Phone: 860-871-7546(SKIN)
    <br />
    %p.intro
      = "To get more information on the treatments, please"
      = link_to 'click here.', services_path
      = image_tag('home.jpg', style: "width: 335px; float:left; margin-top: 10px;")

  %div#hours
    %span#title Hours
    %ul
      %li#time Sunday: Closed
      %li#time Monday: Closed
      %li#time Tuesday:<br/> 10:00 a.m. - 9:00 p.m.</li>
      %li#time Wednesday:<br/> 12:00 a.m. - 9:00 p.m.</li>
      %li#time Thursday:<br/> 10:00 a.m. - 9:00 p.m.</li>
      %li#time Friday:<br/> 10:00 a.m. - 5:30 p.m.</li>
      %li#time Saturday:<br/> 10:00 a.m. - 3:00 p.m.</li>




