<div id="container">
  <div id="facial_2">
    <h3 class="title">Makeup</h3>
     <ul>
       <li id="serv"><strong>Airbrush tanning...........   $25.00</strong><br />
     <p class="para">Step inside our new private airbrush tanning tent and let our technician
     spray a beautiful flawless golden tan while in your bathing suit or shorts and tank top.</p>

     <p class="para"><strong>About the product we use:</strong></p>
     <p class="para">Erythrulose naturally occurs in red raspberries. It reacts with the amino acids in the keratin protein on the outer or dead surface layer of the skin, (the stratum corneum layer of the epidermis). This non-toxic reaction produces a temporary bronze browning effect. This is not a stain or dye, but rather a chemical reaction that produces the color change. </p>
     <p class="para">The brown color is comparable to the appearance of a UV based suntan. Because the skin continually exfoliates itself, losing thousands of dead surface skin cells each day, the tan hue is temporary. The tan appearance typically lasts up to 10 days, depending on the quality of application type, and skin condition.</p>
</p>
     </li>
     <strong><li id="serv">Airbrush Bridal makeup...........   $50.00 at the salon. Additional $20.00 fee per party if we travel to your location.</strong><br />
     <p class="para">
Look flawless and natural with revolutionary airbrush makeup.  Developed for film and television and used by celebrities worldwide, our makeup sets on contact without powder and lasts over 18 hours.  Our glamour makeup is water resistant and blends seamlessly to reveal and conceal. Prefect for Proms and Weddings.

</p></li>
<strong> <li id="serv">Bridal trial...........   $25.00</li>
      <li id="serv">Free hand makeup...........   $30.00</li></strong>
    </ul>
    </div>
    <div>




