<div id="container">
  <div id="facial_2">
    <h3 class="title">20 minutes for $20.00 microzone treatments</h3>
    <p class="para">FIX SKIN ISSUES IN JUST 20 MINUTES</p>

    <p class="para">MicroZone treatments provide an immediate solution to whatever might be plaguing your skin at the time.</p>

    <p class="para">It’s quick, it’s simple, it’s effective. MicroZone Treatments - fix skin problems in a snap!</p>

    <ul>
      <strong><li id="serv">Spot treatment (breakout)</li>
      <li id="serv">Flash exfoliation</li>
      <li id="serv">Eye rescue</li>
      <li id="serv">Lip repair</li>
      <li id="serv">Blackhead removal</li></strong>
    </ul>
    
         </div>
    <div>




