<div id="container">
  <div id="facial_2">
    <h3 class="title">NovaLash Eyelash Extensions</h3>
    <p class="para">
Eyelash extensions are a revolutionary new product that will extend your lashes for a beautiful, natural look and feel.  They are perfect for special occasions or every day wear.  Vibrant, long and luscious lashes are just an appointment away!
Our eyelash extensions provide length and thickness to your natural eyelashes thereby enhancing the allure of your eyes.  They are so sumptuous there is no need for mascara or an eyelash curler and will feel so natural you’ll forget they are extensions. Each individual synthetic lash is delicately applied by hand to create a smoldering gaze and blend with your natural eye lashes.  The perfect look!
</p>
    <ul>
      <strong><li id="serv">$200.00 full set</li>
        <li id="serv">$40.00 - $45.00 monthly fills</li>
        <li id="serv">$20.00 Quick Fix</li></strong>
    </ul>
</div>
  <div>

