<div id="container">
  <div id="facial_2">
     <h3 class="title">Waxing</h3>
    <ul>
      <strong><li id="serv">Eyebrows...........   $11.00</li>
      <li id="serv">Lip...........   $6.00</li>
      <li id="serv">Chin...........   $6.00</li>
      <li id="serv">Underarms...........   $20.00</li>
      <li id="serv">Full leg...........   $40.00</li>
      <li id="serv">Half leg...........   $25.00</li>
      <li id="serv">Bikini...........   $30.00</li>
      <li id="serv">Back...........   $30.00</li></strong>
    </ul>

<br />
   
    <h3 class="title">Body Massages</h3>
    <p class="para">Please call for appt. And pricing.</p>
          </div>
    <div>




