<div id="container">
  <div id="facial_2">
    <h3 class="title">Spa Parties</h3>
    <p class="para">Our Spa Parties are private, your party will have the run of the Day Spa while receiving their treatments. Lunch, dinner, drinks and cake may be ordered or brought into the Spa.
    Evening look/updo can be added to the package below from the Stylists at Hair World Salon next door to the Day Spa</p>
    <br />

    <ul>
      <li id="serv"><strong>Princess spa birthday parties (12 and under)...........   $25.00 pp</strong><br />
      <p class="para">Mini facial, (nail art) manicure, pedicure, lip gloss, blush and light sparkle eye shadow. Goodie bag included
      </p></li>
      <li id="serv"><strong>Teen spa birthday parties.........   $30.00</strong><br />
      <p class="para">Mini Facial, (nail art) manicure, pedicure, free hand makeup or Airbrush makeup. Goodie bag included</p>
      </li>

      <li id="serv"><strong>Prom spa parties............   $60.00</strong><br />
    <p class="para">Mini Facial, (nail art) manicure, pedicure, airbrush makeup. Goodie bag included
    </p>
    </li>
    <li id="serv"><strong>Bridal spa parties...........   $80.00</strong><br />
    <p class="para">Full Facial, manicure, pedicure, airbrush makeup. </p>
    </li>
    <br />
    <p class="para">Evening look/undo can be added to all packages listed above from the stylists at hair world salon next door to the spa.</p>
      <li id="serv">Deluxe spa day packages:</li>
    </ul>
  </div>
  <div>
