<div id="container">
  <div id="facial_2">
    <h1 class="title">Spa Parties</h1>
    <p class="para">Our Spa Parties are private, your party will have the run of the Day Spa while receiving their treatments. Lunch, dinner, drinks and cake may be ordered or brought into the Spa.
    Evening look/updo can be added to the package below from the Stylists at Hair World Salon next door to the Day Spa</p>
    <br />

    <ul>
      <li id="serv"><strong>Princess spa birthday party (12 and under)...........   $25.00 pp</strong><br />
      <p class="para">Mini facial, (nail art) manicure and Airbrush makeup. Goodie bag included. These parties conclude with a princess fashion show.
      </p></li>
      <li id="serv"><strong>Teen spa birthday party.........   $30.00 pp</strong><br />
      <p class="para">Mini Facial, (nail art) manicure, pedicure, Airbrush makeup. Goodie bag included. These parties conclude with a teen fashion show.</p>
      </li>

      <li id="serv"><strong>Prom spa party............   $60.00 pp</strong><br />
    <p class="para">Mini Facial, (nail art) manicure, pedicure, airbrush makeup. Goodie bag included.
    </p>
    </li>
    <li id="serv"><strong>Bridal spa party...........   $80.00 pp</strong><br />
    <p class="para">Full Facial, manicure, pedicure, airbrush makeup. </p>
    </li>
      <li id="serv"><strong>Adult spa party............   $80.00 pp</strong><br />
    <p class="para">Mini Facial, manicure, pedicure and a 20 minute massage.
    </p>
    </li>
   <p class="para">All spa parties can be customized.
    </ul>
  </div>
  <div>
