// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{  font-family: "Helvetica", "Arial", serif;
  background: url(bg.png) repeat;
  font-size:13px;
}

*{
  margin:0;
  padding:0;
}

.horizontal {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.small-image {
  width: 200px;
  float: left;
  margin-top: 50px;
  margin-right: 10px;
}

.pic {

}

a{
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
}


.clear {
  clear: both;
}

.wrapper{
  padding-top: 20px;
  padding-bottom:20px;
  background: url(/images/bg.png) repeat;
  min-height:500px;
}

#page{
  background-color: #2B1528;
  width:960px;
  min-height:640px;
  margin: 0 auto;
  // -moz-border-radius: 10px;
  // border-radius: 10px;
  // -webkit-border-radius: 10px;
}


#header{
  background-color: #2B1528;
  width: 100%;
  height:150px;
  overflow: hidden;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

#logo{
  background-color:#2B1528;
  width:450px;
  height: 150sqlite3;
  float:left;
  margin-left: 30px;
}


.nav{
  font-family: "Helvetica", "Arial", serif;
  width: 450px;
  height:50px;
  float:right;
  margin-top: 55px;
  margin-right: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;

}

.clear:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.nav ul li{display:inline;}

.nav ul li a,
.nav ul li a:visited{
  color:#ffffff;
  display:block;
  float:left;
  font-size:15px;
  font-weight: bold;
  margin:5px 3px;
  padding:12px 8px 4px;
  text-decoration: none;
}

.nav ul li a:hover{
  text-decoration: underline;
}

#content{
  margin-left: 30px;
  background-color: #d6cdda;
  width:720px;
  min-height:450px;
  float:left;
  // -moz-border-radius: 10px;
  // border-radius: 10px;
  // -webkit-border-radius: 10px;
}

#content_2{
  margin-left: 30px;
  background-color: #d6cdda;
  width:900px;
  min-height:450px;
  float:left;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}


#hours{
  // -moz-border-radius: 10px;
  // border-radius: 10px;
  // -webkit-border-radius: 10px;
  padding:10px;
  background-color:#d6cdda;
  width:150px;
  height:340px;
  float:right;
  margin-right: 30px;
  color:#2B1528;
  font-family: "Helvetica", "Arial", serif;
}

#hours ul li{
  display:inline;
  color:#2B1528;
  display:block;
  float:left;
  text-decoration: none;
  font-size: 13px;
  width:100%;
}


#title{
  font-size: 18px;
  font-weight: bold;
}

#footer{
  width:100%;
  height: 20px;
  margin-top:10px;
}

a {
  color: #3c284a;
}


#info{
  padding-top: 5px;
  width:300px;
  margin:0 auto;
  font-size: 9px;
  color:#A094A6;
}

.title{
  color:#2B1528;
  padding:5px;
}

#serv{
  font-size:13px;
  padding:5px;
list-style:none;}

#time{padding:10px;}

#facial{
  margin-left: 30px;
  background-color: #d6cdda;
  width:720px;
  min-height:450px;
  float:left;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

#facial_2{
  padding:15px;
  width:870px;
  min-height:450px;
  background:#d6cdda;
  margin-left:30px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
.welcome{
  color:#3c284a;
  padding:15px;
}

.intro{
  padding-left:15px;
  width:650px;
  font-size:13px;
  line-height:1.5
}

#homelink{
  text-decoration:none;
  padding:2px;
  color:#3c284a;
}

#homelink:hover{
  background-color: #3c284a;
  color:#ffffff;
}

.para{
  margin-top:5px;
  padding:5px;
  width:800px;
  font-size:12px;
  line-height:1.5;
}

#list{
  list-style:none;
  font-size:12px;
  padding:5px;
}

strong{
color:#3c284a;}

.service_link{
  text-decoration:none;
  padding:15px;
  font-size:14px;
  color:#3c284a
}

.service_link:hover{
  color: #655173;
  text-decoration:none;
  padding:15px;
  font-size:14px;
}

h1{
  padding-top:15px;
  margin-left:10px;
  margin-left:10px;
  color:#2B1528;
}

.text{
  padding:15px;
}

.chelsea {
  width: 40%;
  height: 40%;
}
